* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #f2f0f1;
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 300px;
    height: 350px;
}
a{
    text-decoration: none;
}
.contenedor{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor_tarjeta{
    margin: 20px;

}
.contenedor_tarjeta a{
    display: inline-block;
}
.contenedor_tarjeta:hover figure{
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);

    -webkit-box-shadow: 0px 10px 18px 9px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 18px 9px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 18px 9px rgba(0,0,0,0.25);
}

figure {
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
figure .frontal,
figure .trasera{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
}
figure .frontal{
    display: block;
    /*backface-visibility: hidden;*/
}
figure .trasera{
    position: absolute;
    top: 0;
    padding: 20px;
    color: white;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;

    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
figure .trasera .titulo{
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 24px;
}
figure .trasera hr{
    height: 2px;
    background: white;
    border: none;
    margin-bottom: 20px;
    opacity: .5;
}
figure .trasera p{
    font-family: sans-serif;
    line-height: 22px;
    font-size: 14px;
}